<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcom to the word Counter game</h2>
    <p> enter a word and then enter a sentence then see how many times that word appears</p>
    <h3><a href='/word/new'>CLick Here to play</a></h3>
  </body>
</html>
