@using WordCountName.Models;
<h2>Your word count listed below</h2>
<ul>
  @foreach (WordCounter wordcounter in Model)
  {
    /* foreach City Information inside the model */
    <li><a href='/Word/@wordcounter.GetId()'> Your sentence is :@wordcounter.GetSentence()
    <br/>
    Your word is @wordcounter.GetWord()
    <br/>
     Your count is:@wordcounter.GetCount()</a></li>

  }

</ul>
