<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="form" action="/Word" method="post">
      <label for="userWord">enter a word</label>
      <input type="text" name="userWord" value="">
      <label for="userSentence">enter a sentence</label>
      <input type="text" name="userSentence" value="">
      <button type="submit" name="button">ENTER</button>
    </form>
  </body>
</html>
